@charset "UTF-8";
.menubar{
	padding:10px;
	cursor:pointer;
	margin-right:10px;
}
.float-right{
	float:right;
}
.inline-block{
	display:inline-block;
}
.display-none{
	display:none;
}
.icon-box{
	width:35px;
	height:35px;
	cursor:pointer;
}
.small-grade{
	color:gray;
	font-size:11px;
}
.popup-content-box{
	background-color:lightgray;
	border-radius:5px;
	height:40px;
	margin:10px;
	padding-left:20px;
	padding-right:20px;
}
.text-head{
	display:inline-block;
	color:purple;
	font-size:17px;
	line-height:40px;
	min-width:90px;
	font-weight:bold;
}
.text-head2{
	display:inline-block;
	color:purple;
	font-size:17px;
	line-height:40px;
	min-width:140px;
	font-weight:bold;
}
.text-head3{
	display:inline-block;
	color:#0068d0;
	font-size:17px;
	line-height:40px;
	min-width:90px;
	font-weight:bold;
}
.text-center{
	text-align:center;
}
.text-content{
	color:black;
	font-size:14px;
	line-height:40px;
	text-align:center;
}
.text-content2{
	color:#373737;
	font-size:15px;
	line-height:40px;
	text-align:center;
	font-weight:bold;
}
.text-content-approved{
	color:green;
	font-size:12px;
	line-height:40px;
	text-align:center;
	font-weight:bold;
}
.text-content-use{
	color:#0068d0;
	font-size:12px;
	line-height:40px;
	text-align:center;
	font-weight:bold;
}
.close-custom{
	color:white;
	font-size:20px;
}
#modal-open{
	cursor:pointer;
}
.my-info{
	border:1px solid lightgray;
	border-radius:7px;
}
.my-info-content{
	margin:9px;
	padding:10px;
}
.content-head{
	color:black;
	font-size:24px;
	font-weight:bold;
}
.form-control-custom {
    display: inline-block;
    width: 70%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: .8rem;
}
.content-text-small{
	color:gray;
	font-size:14px;
}
.text-red-bold{
	color:red;
	font-weight:bold;
	font-size:30px;
}
.text-orange-bold{
	color:orange;
	font-weight:bold;
	font-size:30px;
}
.text-green-bold{
	color:green;
	font-weight:bold;
	font-size:30px;
}
.text-blue-bold{
	color:blue;
	font-weight:bold;
	font-size:30px;
}
.text-black-bold{
	color:black;
	font-weight:bold;
	font-size:30px;
}
.text-bold{
	color:#202020;
	font-weight:bold;
}
.text-red{
	color:red;
	font-weight:bold;
}
.text-orange{
	color:#ff4a4a;
}
.text-blue{
	color: #0482ff;
	font-weight:bold;
}
.text-green{
	color:green;
	font-weight:bold;
}
.text-gray{
	color:#525252;
	font-weight:bold;
}
.text-lightgray{
	color:#8b8b8b;
	font-weight:600;
	font-size: 1.1rem;
}

.img-box-custom{
	display: flex;
	align-items: center;
}
textarea.resize-none{
	resize: none;
	height:150px;
}
.text-content-small{
	color:gray;
	font-size:8px;
	text-align:right;
}
.sign-line-box{
	display: flex;
   align-items: center;
   text-align: center;
}
.btn-withdrawal {
	color: #fff;
	background-color: #c0c0c0;
	border-color: #858796
}
.text-decoration {
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
	text-underline-offset : 5px;
}
.change-hover:hover {
	cursor:pointer;
	font-weight:bold;
	font-size:1.1em;
	text-decoration-line: underline;
}
.doc-content {
	height:20vh;
}
.text-sm {
	font-size: .75rem
}
.text-md {
	font-size: 1.0rem
}
.text-md2 {
	font-size: .85rem;
	color: green;
}
.cursor-pointer{
	cursor:pointer;
}